<div class="editEdu">
    <div class="container p-5" *ngIf="educacion">
        <div class="card bg-glass">
            <div class="card-header text-center">
                <h1>Editar Educación</h1>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="px-5">
                    <div class="form-group mb-3">
                        <label for="puestoExpe">Titulo</label>
                        <input type="text" class="form-control" id="puestoExpe" name="puestoExpe"
                            [(ngModel)]="educacion.tituloEdu" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="organismoExpe">Institucion</label>
                        <input type="text" class="form-control" id="organismoExpe" name="organismoExpe"
                            [(ngModel)]="educacion.institucionEdu" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcionExpe">Descripcion</label>
                        <input type="text" class="form-control" id="descripcionExpe" name="descripcionExpe"
                            [(ngModel)]="educacion.descripcionEdu" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="periodoExpe">Periodo</label>
                        <input type="text" class="form-control" id="periodoExpe" name="periodoExpe"
                            [(ngModel)]="educacion.periodoEdu" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="urlLogoExpe">Url logo</label>
                        <input type="text" class="form-control" id="urlLogoExpe" name="urlLogoExpe"
                            [(ngModel)]="educacion.urlLogoEdu">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success">
                            Actualizar
                        </button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
