<!-- <div class="card mb-3 acerca-de " >
    <div class="row g-0 d-flex justify-content-center align-items-center">
        <div class="col-md-3 text-center">
            <div class="row-1 ">
                <img src="../../../assets/foto-perfil.png" class="img-fluid" alt="..." >
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title ">NATALIA ROMINA ESTRADA</h1>
                <p class="card-text lh-lg">Hola 🖐🏽 me llamo <strong>Natalia</strong>! soy Técnica en Computación y Estudiante Avanzada de la carrera Ingeniería Informática 💻 <br>

                    Me considero una persona responsable, autodidacta, capaz de aprender rápido y adaptarme a cualquier lenguaje o tecnología que se necesite. <br>
                    Estoy acostumbrada a trabajar en equipo y siempre aporto todo lo posible en mis trabajos 😁 <br>
                    
                    Soy apasionada de la programacion, tengo conocimientos tanto del Fontend como Backend, aunque mi fuerte es el Backend 💪🏽 <br>
                    
                    </p>
                <p class="card-text">Si quieres contactarte conmigo enviame un mail a<small class="text-muted fs-6"> nataliarominaestrada@gmail.com</small> o en cualquiera de mis redes sociales</p>
            </div>
        </div>
    </div>
</div> -->
<section id="acerca-de-mi" class="pt-5">
    <div class="container">
      <div class="row ">
        <div class="col-md-3 text-center">
          <img src="../../../assets/foto-perfil.png" class="img-fluid mb-4" alt="Foto de perfil">
        </div>
        <div class="col-md-9">
          <h2>Acerca de mí</h2>
          <!-- <p>Mi nombre es [Nombre] y soy [Profesión o especialización]. Me apasiona [Intereses o habilidades relevantes] y disfruto [Hobbies o actividades adicionales]. He trabajado en [Experiencia laboral previa] y he colaborado en proyectos como [Proyectos anteriores relevantes]. Me considero una persona [Cualidades personales o de trabajo] y siempre estoy buscando aprender y crecer profesionalmente.</p> -->
          <p class="card-text lh-lg">Hola 🖐🏽 me llamo <strong>Natalia</strong>! soy Técnica en Computación y Estudiante Avanzada de la carrera Ingeniería Informática 💻 <br>

            Me considero una persona responsable, autodidacta, capaz de aprender rápido y adaptarme a cualquier lenguaje o tecnología que se necesite. <br>
            Estoy acostumbrada a trabajar en equipo y siempre aporto todo lo posible en mis trabajos 😁 <br>
            
            Soy apasionada de la programacion, tengo conocimientos tanto del Fontend como Backend, aunque mi fuerte es el Backend 💪🏽 <br>
            
            </p>
        <p class="card-text">Si quieres contactarte conmigo enviame un mail a<small class="text-muted fs-6"> nataliarominaestrada@gmail.com</small> o en cualquiera de mis redes sociales</p>
        </div>
      </div>
    </div>
</section>