<div class="card mb-3 acerca-de " >
    <div class="row g-0 d-flex justify-content-center">
        <div class="col-md-3">
            <div class="row-1">
                <img src="../../../assets/foto-perfil.png" class="img-fluid" alt="..." >
            </div>
            <div class="row">
                hola
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title fw-bold">NATALIA ROMINA ESTRADA</h1>
                <p class="card-text lh-lg">Hola 🖐🏽 me llamo <strong>Natalia</strong>! soy Técnica en Computación y Estudiante Avanzada de la carrera Ingeniería Informática 💻 <br>

                    Me considero una persona responsable, autodidacta, capaz de aprender rápido y adaptarme a cualquier lenguaje o tecnología que se necesite. <br>
                    Estoy acostumbrada a trabajar en equipo y siempre aporto todo lo posible en mis trabajos 😁 <br>
                    
                    Soy apasionada de la programacion, tengo conocimientos tanto del Fontend como Backend, aunque mi fuerte es el Backend 💪🏽 <br>
                    
                    Actualmente me encuentro trabajando como desarrolladora backend en un proyecto de investigación de la Universidad Nacional de Sur 📝</p>
                <p class="card-text">Si quieres contactarte conmigo enviame un mail a<small class="text-muted fs-6"> nataliarominaestrada@gmail.com</small> o en cualquiera de mis redes sociales</p>
            </div>
        </div>
    </div>
</div>