<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#"><img src="../../../assets/APLogo.png" alt="logoAP" width="150"
                        class="d-inline-block align-text-top" /></a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="../../../assets/facebook.png" alt="logoAP" width="30"
                                    class="d-inline-block align-text-top" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="../../../assets/github.png" alt="logoAP" width="30"
                                    class="d-inline-block align-text-top" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="../../../assets/instagram.png" alt="logoAP"
                                    width="30" class="d-inline-block align-text-top" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="../../../assets/linkedin.png" alt="logoAP" width="30"
                                    class="d-inline-block align-text-top" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="../../../assets/twitter.png" alt="logoAP" width="30"
                                    class="d-inline-block align-text-top" /></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
                    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
                </div>
            </div>
        </div>
    </nav>
</header>