<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center justify-content-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0 ">

        <div class="card bg-glass">
          <div class="card-body px-4 py-4 px-md-5 text-center">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <img src="../../../assets/APLogo.png" alt="Logo AP" class="img-fluid">
            </div>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required/>
                <label class="form-label" for="nombreUsuario">Usuario</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required/>
                <label class="form-label" for="password">Contraseña</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-success mb-4">
                Iniciar Sesion
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>