<div class="container" *ngIf="expLab">
    <div class="card">
        <div class="card-header">
            Editar
        </div>
        <div class="card-body">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="puestoExpe">Puesto</label>
                    <input type="text" class="form-control" id="puestoExpe" name="puestoExpe" [(ngModel)]="expLab.puestoExpe" required>
                </div>
                <div class="form-group">
                    <label for="organismoExpe">Organismo</label>
                    <input type="text" class="form-control" id="organismoExpe" name="organismoExpe" [(ngModel)]="expLab.organismoExpe" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExpe">descripcion Expe</label>
                    <input type="text" class="form-control" id="descripcionExpe" name="descripcionExpe" [(ngModel)]="expLab.descripcionExpe" required>
                </div>
                <div class="form-group">
                    <label for="periodoExpe">Periodo</label>
                    <input type="text" class="form-control" id="periodoExpe" name="periodoExpe" [(ngModel)]="expLab.periodoExpe" required>
                </div>
                <div class="form-group">
                    <label for="urlLogoExpe">Url logo</label>
                    <input type="text" class="form-control" id="urlLogoExpe" name="urlLogoExpe" [(ngModel)]="expLab.urlLogoExpe">
                </div>
                <button class="btn btn-primary">
                    Actualizar experiencia
                </button>
            </form>
        </div>
    </div>
</div>
