<section id="experiencia" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Experiencia</h2>
        <div class="row-1 mb-3">
            <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">Nuevo</button>
        </div>

        <div class="row row-cols-auto justify-content-center">
            <div class="col-md-6 mb-3" *ngFor="let Experiencia of expe" style="min-width: 250px;">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{Experiencia.urlLogoExpe}}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{Experiencia.puestoExpe}}</h5>
                                    <div class="btn-group btn-group-sm" role="group"
                                        aria-label="Basic mixed styles example" *ngIf="isLogged">
                                        <button type="button" class="btn btn-info"
                                            routerLink="/editexp/{{Experiencia.id}}"><i
                                                class="bi bi-pencil text-white"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="delete(Experiencia.id)"><i
                                                class="bi bi-trash3 text-white"></i></button>
                                    </div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">{{Experiencia.organismoExpe}}</h6>
                                <p class="card-text">{{Experiencia.descripcionExpe}}</p>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{Experiencia.periodoExpe}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>