<img src="{{persona.imgUrl}}" alt="" width="100%">
<section id="acerca-de-mi" class="pt-5 px-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-3 text-center">
                <img src="{{persona.bannerUrl}}" class="img-fluid mb-4" alt="Foto de perfil">
            </div>
            <div class="col-md-9">
                <div class="row-1 mb-3">
                    <button type="button" class="btn btn-info bi bi-pencil text-white" routerLink="/editar/{{persona.id}}" *ngIf="isLogged"> Editar</button>
                </div>
                <h1 class="card-title ">{{persona.nombre}} </h1>
                <h3> <small> {{persona.ocupacion}}</small></h3>
                <!-- <p>Mi nombre es [Nombre] y soy [Profesión o especialización]. Me apasiona [Intereses o habilidades relevantes] y disfruto [Hobbies o actividades adicionales]. He trabajado en [Experiencia laboral previa] y he colaborado en proyectos como [Proyectos anteriores relevantes]. Me considero una persona [Cualidades personales o de trabajo] y siempre estoy buscando aprender y crecer profesionalmente.</p> -->
                <p class="card-text lh-lg">
                    {{persona.descripcion}}
                </p>
                <p class="card-text">Si quieres contactarte conmigo enviame un mail a<small class="text-muted fs-6">
                        {{persona.email}}</small> o en cualquiera de mis redes sociales</p>
            </div>
        </div>
    </div>
</section>